@import "../bootstrap/scss/_custom.scss";

// grams

div.meta {
  display: inline-block;
}

div.grams {
  list-style-type: none;
  padding: 0;
}

div.meta {
  label {
    background-color: $gray-light;
    margin-right: $grid-gutter-width/2;
    height: $grid-gutter-width/2;
    width: $grid-gutter-width/2;
    text-align: center;
  }

  label:before {
    content: attr(data-glyph);
    color: #fff;
    font-family: 'scp';
    font-size: .8rem;
    font-weight: 500;
    line-height: 1rem;
    vertical-align: middle;
  }

  label,
  h2,
  h3 {
    display: inline-block;
  }

  h2,
  h3 {
    font-family: 'scp';
    font-size: .8rem;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
  }

  h3 { 
    margin-left: 2rem; 
    line-height: 1rem;
  }
  .time { padding-right: 2rem; }
}

div.grams:first-of-type .gram { margin-top: 0; }

div.gram.first { margin-top: 1rem; }

div.gram.same div.meta { display: none; }

div.gram.same:hover div.meta { 
  display: block;
  position: absolute;
  background-color: #fff;
  margin-top: -2.5rem;
  padding-top: 1rem;
}

.speech { margin-left: $grid-gutter-width; }

div.gram label[data-glyph=">"],
div.gram label[data-glyph="="],
div.gram label[data-glyph="+"],
div.gram label[data-glyph="-"],
div.gram label[data-glyph="}"] {
  background-color: $red;
}

div.gram label[data-glyph=")"],
div.gram label[data-glyph=","],
div.gram label[data-glyph="."],
div.gram label[data-glyph='"'],
div.gram label[data-glyph="'"] {
  background-color: $green;
}

div.gram label[data-glyph="*"],
div.gram label[data-glyph="`"],
div.gram label[data-glyph="^"],
div.gram label[data-glyph="$"],
div.gram label[data-glyph="%"],
div.gram label[data-glyph="&"],
div.gram label[data-glyph="@"] {
  background-color: $blue;
}