// grams

.grams {
  list-style-type: none;
  padding: 0;

  .meta { display: inline-block; }
}

.grams .meta {
  max-height: 1.6rem;
  overflow: hidden;
  width: 100%;

  label {
    margin-right: $grid-gutter-width/2;
    height: $grid-gutter-width/2;
    width: $grid-gutter-width/2;
    text-align: center;
  }

  label:before {
    content: attr(data-glyph);
    color: #fff;
    font-family: 'scp';
    font-size: .8rem;
    font-weight: 500;
    line-height: 1rem;
    vertical-align: middle;
  }

  label,
  h2,
  h3 {
    display: inline-block;
    vertical-align: top;
  }

  h2,
  h3 {
    font-family: 'scp';
    font-size: .8rem;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
  }

  h3 {
    margin-left: 2rem;
    line-height: 1rem;
  }
  .time {
    padding-right: 2rem;
    float: right;
  }
}

.grams .meta:hover {
  overflow: visible;
}

.gram:hover {
  z-index: 2;
  position: relative;
}

div.gram.first:first-of-type { margin-top: 0; }
div.gram.first { margin-top: $grid-gutter-width; }
div.gram.same div.meta { display: none; }

div.gram.same:hover div.meta {
  display: block;
  position: absolute;
  z-index: 0;

  label,h2,h3 { display:none; }
  h3.time {
    display:block;
    opacity: .6;
    padding-right: 3.8rem;
  }
}

.speech {
  position: absolute;
  z-index: 1;
  margin-left: $grid-gutter-width;
}

.exp {
  font-family: 'scp';
  font-size: .9rem;

  .speech {
    max-width: 100%;
    overflow-x: scroll;
  }

  .speech > span {
    color: #fff;
    background-color: #000;
    padding: .3rem;
  }

  .fat {
    max-height: 0;
    transition: max-height .1s ease-in-out;
    overflow: hidden;
  }

  .fat pre { color: #fff; }

  &:hover .fat {
      max-height: 16rem;
      overflow: scroll;
      background-color: #000;
      color: #fff;
  }
}

.comment {
  // .speech {
  //   max-height: 2rem;
  //   overflow: hidden;
  //   transition: max-height 1s;
  // }

  // &:hover .speech {
  //   max-height: 90rem;
  //   transition: max-height 1s;
  // }

  .speech a.btn {
    background-color: transparent;
    color: #B1B7BD;
    font-size: .9rem;
    border: 0;
    border-bottom: 3px solid #b1b7bd;
    text-transform: none;
    text-decoration: none;
    padding: 0;
    line-height: 1rem;
    margin: 1rem 0 2rem 0;
    letter-spacing: 0;
  }
}

.gram pre { background-color: transparent; }

div.gram label { background-color: #000; }
div.gram.say .speech { font-style: italic; }
div.gram.pending .speech { color: $gray-light; }

// div.gram label[data-glyph=">"],
// div.gram label[data-glyph="="],
// div.gram label[data-glyph="+"],
// div.gram label[data-glyph="-"],
// div.gram label[data-glyph="}"],
// div.gram label[data-glyph=")"],
// div.gram label[data-glyph=","],
// div.gram label[data-glyph="."],
// div.gram label[data-glyph='"'],
// div.gram label[data-glyph="'"],
// div.gram label[data-glyph="*"],
// div.gram label[data-glyph="`"],
// div.gram label[data-glyph="^"],
// div.gram label[data-glyph="$"],
// div.gram label[data-glyph="%"],
// div.gram label[data-glyph="&"],
// div.gram label[data-glyph="@"] {
//   background-color: $blue;
// }

.author,
.path { cursor: pointer; }
