@import "../bootstrap/scss/_custom.scss";
@import "../bootstrap/scss/mixins/_urbit.scss";

input.action {
  background-color: transparent;
  border-color: transparent;
  font-family: 'scp';
  font-size: .8rem;
}

input.action.valid-false {
  color: $red;
}

input.action { @include placeholder { 
  color: #000; 
  font-family: 'bau';
  font-size: 1rem;
}}
input.action:focus { @include placeholder { color: transparent; }}

.menu {
  .name,
  .planet {
    display: inline-block;
  }

  .name,
  .planet,
  .room {
    font-size: .8rem;
  }

  .room > div { 
    display:inline; 
    cursor:pointer;
  }
  .room > div.selected { font-weight: 500; }

  .room .close {
    display: none;
    margin: 0;
    float: none;
    margin-left: .6rem;
    font-weight: 600;
    font-size: .8rem;
    color: $red;
  }

  .room:hover .close { display: inline; }
  .room.disabled { opacity: .6; }

  .name { 
    display: none; // for now
    min-width: 33.333%; 
    font-size: .9rem;
  }
  
  .planet {  min-width: 66.667%;  }
}